p-bulle-snake-step1-start/.vs/p-bulle-snake-step1-start/config/applicationhost.config
p-bulle-snake-step1-start/.vs/p-bulle-snake-step1-start/FileContentIndex/c5403faf-e268-4980-adaa-dcdf2e5cce8f.vsidx
p-bulle-snake-step1-start/.vs/VSWorkspaceState.json
p-bulle-snake-step1-start/.vs/slnx.sqlite
p-bulle-snake-step1-start/.vs/p-bulle-snake-step1-start/v17/DocumentLayout.json
p-bulle-snake-step1-start/.vs/p-bulle-snake-step1-start/v17/DocumentLayout.backup.json
p-bulle-snake-step1-start/.vs/p-bulle-snake-step1-start/v17/.wsuo
